@font-face {
    font-family: "BYekan";
    src: url("../BYekan/BYekan-webfont.eot") format("eot") ,
    url("../BYekan/BYekan-webfont.ttf") format("truetype") ,
    url("../BYekan/BYekan-webfont.woff") format("woff");
}

*:not(i) {
    font-family: "BYekan" !important;
}

:root {
    --transition : all 0.4s ease-in-out;
}

body {
    margin: 0;
}

/* Start Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    overflow: hidden;
    box-shadow: 0px 0px 5px white;
}

.right-content {
    width: 20%;
    height: 100%;
}

.left-content {
    width: 80%;
    height: 100%;
}

@media screen and (max-width : 992px) {
    .right-content {
        width: 30%;
        height: 100%;
    }

    .left-content {
        width: 70%;
        height: 100%;
    }
}

@media screen and (max-width : 768px) {
    .right-content {
        width: 40%;
        height: 100%;
    }

    .left-content {
        width: 60%;
        height: 100%;
    }
}
/* End Navbar */


/* Start Content */
.content {
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 990;
    width: calc(100% - 55px);
    min-height: calc(100% - 60px);
    background: url("../pics/background/body_back4.jpg") repeat;
    transition: var(--transition);
}

.content-with-sidebar {
    width: 80%;
}

@media screen and (max-width : 992px) {
    .content-with-sidebar {
        width: 70%;
    }
}

@media screen and (max-width : 768px) {
    .content-with-sidebar {
        width: 60%;
    }
}
/* End Content */


/* Start Sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 1000;
    width: 55px;
    height: calc(100vh - 60px);
    overflow: hidden;
    transition : var(--transition);
}

.expanded-sidebar {
    width: 20%;
    box-shadow: 0px 0px 7px black;
}

@media screen and (max-width : 992px) {
    .expanded-sidebar {
        width: 30%;
        box-shadow: 0px 0px 7px black;
    }
}

@media screen and (max-width : 768px) {
    .expanded-sidebar {
        width: 40%;
        box-shadow: 0px 0px 7px black;
    }
}

.sidebar ul li {
    width: 100%;
    height: 30px;
    margin: 10px 7px;
    overflow: hidden;
    cursor: pointer;
}

.sidebar ul li.header-li {
    height: 35px !important;
    font-size: 1.15rem;
    margin: 10px 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: var(--transition);
    cursor: default !important;
}

.desc-span {
    margin: 0px 10px;
    opacity: 0;
    transform: scale(0);
    transition: var(--transition);
}

.show-element {
    opacity: 1 !important;
    transform: scale(1) !important;
}

.desc-span::after {
    content: "";
    display: block;
    position: relative;
    top: 1px;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: white;
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.sidebar li:hover .desc-span::after {
    transform: scaleX(1);
    opacity: 1;
}
/* End Sidebar */


/* Start Common Styles */
.myDivider::after {
    content: "";
    display: block;
    width: 25%;
    height: 6px;
    border-radius: 10px;
    background-color: rgb(25, 135, 84);
    margin: 6rem auto 1.25rem;
}

.header-section {
    text-align: center;
    font-size: 2rem;
    color: rgb(25, 135, 84);
    margin: 10px auto;
}

.header-section span {
    border: 1px rgb(25, 135, 84) solid;
    border-radius: 1rem;
    padding: 6px 30px;
    transition: all 0.2s ease-in;
}

.header-section span:hover {
    background-color: rgb(25, 135, 84);
    color: white;
}

.box-shadow {
    box-shadow: 0px 0px 3px black;
}
/* Start Common Styles */


/* Start Contact Info */
.contact-info-icon {
    width: 45px;
    height: 45px;
}

.email-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}
/* End Contact Info */


/* Start Footer */
.page-footer {
    min-height: 200px;
    margin-top: 80px;
}

.social-media-icons-container {
    font-size: 1.25rem;
}

.social-media-icons-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

.social-media-icons-container i {
    transition: all 0.2s ease-out;
}

.social-media-icons-container i:hover {
    transform: scale(1.25);
    color: black;
    filter: drop-shadow(0px 0px 5px white);
}
/* End Footer */


/* Start Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
    box-shadow: 0px 0px 5px black inset;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(2, 189, 101);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(25, 135, 84);
}
/* End Custom scrollbar */



